*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}
.head h1{
    /* border: 1px solid; */
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.head .reset{
    
    position: relative;
    left:50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: azure;
    color: black;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid;
}
.head .reset:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.4s;
}

.Game1{
    margin-top: 5px;
    width: 100%;
    display: flex;
    background-color: #04859b;
}
.Game1 > .player{
    width: 50%;
    height: 400px;
    border: 1px solid;
    padding: 5px;
    margin: 4px;
    border-radius: 10px;
    background-color: #6acdf1;
}
.ply1 , .ply2{
    /* border: 1px solid red; */
    height: 300px;
    width: auto;
    text-align: center;
    font-size: 180px;
    padding: auto;
}
.player .btn{
    margin-left: 40%;
    margin-top: 4px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5f5dd4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.player .btn:hover {background-color: #4340dd;}

.player .btn:active {
    position: relative;
    background-color: #4340dd;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#modal-btn{
    background: #428bca;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 45%;
    margin-bottom: 5px;
}
#modal-btn:hover{
    background-color: #3876ac;
}
.modal{
    display: none;
    /* margin-top: ; */
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.model-header {
  background: #428bca;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: #428bca;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover, close:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}